<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
        

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>

    

    <body>
        <header >
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">    
                <div class="container">
                    <a class="navbar-brand" href="/">SchoolPrepar</a>
                    <div class="collapse navbar-collapse">
                        <ul class="navbar-nav me-auto">
                            <li class="nav-item"><a class="nav-link" href="{{ path('app_filiere_control_index') }}">Filières</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{ path('app_etablissement_contol_index') }}">Établissement</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{ path('app_mentor_control_index') }}">Mentors</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{ path('app_user_control_index') }}">Utulisateur</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{ path('app_rendez_vous_control_index') }}">Rendez-vous</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{ path('app_message_control_index') }}">Messages</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        {% block body %}{% endblock %}
    </body>
</html>
